Importing required packages

In [2]:
import pandas as pd

Loading csv file

In [3]:
events_df=pd.read_csv("events.csv")
events_df.head()

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3         4 -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4         5 -5373797595892518570  2016-05-01 00:07:18     115.88     28.66

Converting to datetime object

In [4]:
events_df['ts']=pd.to_datetime(events_df['timestamp'])
events_df['ts'].head()

0   2016-05-01 00:55:25
1   2016-05-01 00:54:12
2   2016-05-01 00:08:05
3   2016-05-01 00:06:40
4   2016-05-01 00:07:18
Name: ts, dtype: datetime64[ns]

Seperating date into year, month, date and time into hour, minute, seconds

In [6]:
events_df['year']=events_df['ts'].dt.year
events_df['month']=events_df['ts'].dt.month
events_df['day']=events_df['ts'].dt.day
events_df['hour']=events_df['ts'].dt.hour
events_df['minute']=events_df['ts'].dt.minute
events_df['seconds']=events_df['ts'].dt.second
events_df=events_df.drop(columns=['ts','timestamp'])
events_df.head()

,event_id,device_id,longitude,latitude,year,month,day,hour,minute,seconds
0,1,29182687948017175,121.38,31.24,2016,5,1,0,55,25
1,2,-6401643145415154744,103.65,30.97,2016,5,1,0,54,12
2,3,-4833982096941402721,106.60,29.70,2016,5,1,0,8,5
3,4,-6815121365017318426,104.27,23.28,2016,5,1,0,6,40
4,5,-5373797595892518570,115.88,28.66,2016,5,1,0,7,18

Exporting the created csv

In [7]:
export_csv=events_df.to_csv("events_mod.csv")

Done