In [23]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
import pandas as pd
import sys
import os
from pyspark.sql.functions import isnan, when, count, col
from pyspark.sql.functions import to_timestamp
import time
from pyspark.sql import functions as fn

import datetime
from pyspark.sql.functions import year, month, dayofmonth, hour, minute, second

In [2]:
spark = SparkSession.builder.appName('data-cleaning').\
                        config("spark.executor.instances", '3').\
                        config("spark.executor.memory", '40g').\
                        config('spark.executor.cores', '5').\
                        config('spark.cores.max', '5').appName('data_clean').\
                        getOrCreate()

In [3]:
spark.sparkContext.addFile('../libraries/spark-csv_2.11-1.5.0.jar')

In [4]:
sqlContext = SQLContext(spark.sparkContext)

In [12]:
app_events = spark.read.format("csv").option("header", "true").load('../data/app_events.csv')
phone_brands = spark.read.format("csv").option("header", "true").load('../modeled_data/phone_brand_device_model_mod.csv')
events = spark.read.format("csv").option("header", "true").load('../data/events.csv')
app_labels = spark.read.format("csv").option("header", "true").load('../data/app_labels.csv')
label_categories = spark.read.format("csv").option("header", "true").load('../data/label_categories.csv')
gender_age = spark.read.format("csv").option("header", "true").load('../data/gender_age_train.csv')

In [13]:
app_events.limit(5).toPandas()

  event_id                app_id is_installed is_active
0        2   5927333115845830913            1         1
1        2  -5720078949152207372            1         0
2        2  -1633887856876571208            1         0
3        2   -653184325010919369            1         1
4        2   8693964245073640147            1         1

In [ ]:
phone_brands.limit(5).toPandas()

In [ ]:
events.limit(5).toPandas()

In [ ]:
app_labels.limit(5).toPandas()

In [ ]:
label_categories.limit(5).toPandas()

In [ ]:
gender_age.limit(5).toPandas()

In [84]:
inner_join = events.join(phone_brands, "device_id", 'inner').\
                    join(app_events, 'event_id', 'inner').\
                    join(app_labels, 'app_id', 'inner').\
                    join(label_categories, 'label_id', 'inner').\
                    join(gender_age, 'device_id', 'inner')

In [85]:
inner_join.columns

['device_id',
 'label_id',
 'app_id',
 'event_id',
 'timestamp',
 'longitude',
 'latitude',
 'device_model',
 'phone_brand',
 'is_installed',
 'is_active',
 'category',
 'gender',
 'age',
 'group']

In [86]:
train_test_events_df=inner_join.withColumn('time-stamp',to_timestamp('timestamp')).drop('timestamp').drop('timestamp')
modified_app_events=train_test_events_df.withColumn('year',year(fn.col('time-stamp'))).\
    withColumn('month',month(fn.col('time-stamp'))).\
    withColumn('day',dayofmonth(fn.col('time-stamp'))).\
    withColumn('hour',hour(fn.col('time-stamp'))).\
    withColumn('minute',minute(fn.col('time-stamp'))).\
    withColumn('second',second(fn.col('time-stamp')))
modified_app_events=modified_app_events.drop('year').drop('month').drop('time-stamp')

In [29]:
modified_app_events.limit(5).toPandas()

,app_id,device_id,label_id,event_id,longitude,latitude,device_model,phone_brand,is_installed,is_active,...,gender,age,group,event_id,is_installed,is_active,day,hour,minute,second
0,-1214554033170327047,739201708484895,718,2164202,0.00,0.00,Galaxy A7,samsung,1,0,...,M,22,M22-,2164202,1,0,4,19,48,22
1,-1214554033170327047,739201708484895,704,2164202,0.00,0.00,Galaxy A7,samsung,1,0,...,M,22,M22-,2164202,1,0,4,19,48,22
2,-1214554033170327047,739201708484895,548,2164202,0.00,0.00,Galaxy A7,samsung,1,0,...,M,22,M22-,2164202,1,0,4,19,48,22
3,-1271100264985315920,-3539676979459793898,548,1178179,0.00,0.00,荣耀7,Huawei,1,0,...,F,44,F43+,20290,1,0,7,13,12,24
4,-1271100264985315920,-3539676979459793898,548,1178179,0.00,0.00,荣耀7,Huawei,1,0,...,F,44,F43+,37105,1,0,7,13,12,24

In [87]:
modified_app_events.printSchema()

root
 |-- device_id: string (nullable = true)
 |-- label_id: string (nullable = true)
 |-- app_id: string (nullable = true)
 |-- event_id: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- device_model: string (nullable = true)
 |-- phone_brand: string (nullable = true)
 |-- is_installed: string (nullable = true)
 |-- is_active: string (nullable = true)
 |-- category: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)
 |-- group: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- second: integer (nullable = true)

In [88]:
from pyspark.sql.types import FloatType
from pyspark.sql.types import IntegerType

float_columns = ['app_id', 'device_id', 'label_id', 'event_id', 'longitude', 'latitude']
int_columns = ['is_active', 'age', 'is_installed', 'day', 'hour', 'minute', 'second']
string_columns = ['gender', 'group', 'category', 'phone_brand', 'device_model']

modified_app_events = modified_app_events.select(*(col(c).cast("float").alias(c) for c in float_columns), \
                                                 *(col(c).cast("int").alias(c) for c in int_columns), \
                                                 *(col(c).alias(c) for c in string_columns))
modified_app_events

DataFrame[app_id: float, device_id: float, label_id: float, event_id: float, longitude: float, latitude: float, is_active: int, age: int, is_installed: int, day: int, hour: int, minute: int, second: int, gender: string, group: string, category: string, phone_brand: string, device_model: string]

In [89]:
modified_app_events.printSchema()

root
 |-- app_id: float (nullable = true)
 |-- device_id: float (nullable = true)
 |-- label_id: float (nullable = true)
 |-- event_id: float (nullable = true)
 |-- longitude: float (nullable = true)
 |-- latitude: float (nullable = true)
 |-- is_active: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- is_installed: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- second: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- group: string (nullable = true)
 |-- category: string (nullable = true)
 |-- phone_brand: string (nullable = true)
 |-- device_model: string (nullable = true)

In [76]:
modified_app_events.describe(['latitude', 'longitude']).show()

+-------+------------------+------------------+
|summary|          latitude|         longitude|
+-------+------------------+------------------+
|  count|          78177923|          78177923|
|   mean|12.628075284483437|45.929737362966456|
| stddev|15.886955145493129| 56.46484838516154|
|    min|             -33.8|            -180.0|
|    max|             53.64|            151.18|
+-------+------------------+------------------+

In [16]:
reordered_columns = ['device_id', 'phone_brand', 'device_model', 'app_id', 'is_active', 'is_installed', 'category', 'gender', 'age', 'group', 'event_id', 'timestamp', 'latitude', 'longitude']

In [103]:
events.join(phone_brands, events.device_id == phone_brands.device_id, how="left").\
                    join(events.event_id == app_events.event_id, how="left").count()

TypeError: Column is not iterable

In [79]:
app_events.count()

32473067

In [90]:
inner_join.count()

78177923

In [96]:
val = modified_app_events.dropDuplicates()
val.count()

77010109

In [78]:
modified_app_events.count()

78177923

In [77]:
modified_app_events.filter((modified_app_events.latitude == 0.0) & (modified_app_events.longitude == 0.0)).count()

45905505

In [17]:
inner_join = inner_join[reordered_columns]

AnalysisException: "Reference 'is_active' is ambiguous, could be: is_active, is_active.;"

In [ ]:
inner_join.printSchema()

In [ ]:
cols = inner_join.columns
if 'timestamp' in cols: cols.remove('timestamp')
cols

In [ ]:
inner_join.select([count(when(isnan(c), c)).alias(c)\
                   for c in cols]).show()

In [ ]:
clean_data = inner_join.filter((col('latitude').isin([0]) == 'False') | \
                               (col('longitude').isin([0]) == 'False'))

In [ ]:
inner_join.groupBy('phone_brand').agg({'phone_brand':'count'}).limit(5).show()

In [ ]:
clean_data.write('../data/clean_data.csv', 'com.databricks.spark.csv')
clean_data.repartition(1).write.format('com.databricks.spark.csv').save("../data/clean_data.csv",header = 'true')

In [ ]:
load_data = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('../data/clean_data.csv/part-00000-a4e5319d-2cf6-42ab-a97f-4e4ce1cfee52-c000.csv')
clean_data.write.parquet('../modeled_data/clean_data.parquet')
clean_data_rdd = clean_data.rdd

In [ ]:
clean_data_rdd.getNumPartitions()

In [ ]:
clean_data.write.parquet('../modeled_data/clean_data.parquet')

In [ ]:
sample = sqlContext.read.parquet('../modeled_data/clean_data.parquet')

In [ ]:
sample.limit(5).toPandas()

In [ ]:
spark.stop()